*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    display: flex;
    justify-content: center;
}
.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100%;
    margin-top: 35px;
}

.instagram-logo {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around; /* Align-items = eixo X Justify Content = Eixo Y, 
    Flex Direction: Column inverte as direções por se tratar de mudar a leitura */
    flex-direction: column;
    width: 50%;
    min-height: 28rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #d3d3d3;
}

.group:nth-child(1){
    min-height: 19rem;
    padding-bottom: 50px;
}
.group:nth-child(2){
   padding: 20px 95px;
   margin: 20px 0px;
}

.Instagram-Login{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #0095f6;
    padding: 10px 130px;
    border-radius: 4px;
    color:white;
}
.semConta{
    color:gray;
}
.link{
    color:#0095f6;
}
.Obtenha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

input{
    justify-content: center;
    align-items: center;
    text-align:left;
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 40px;
    border-radius: 2.5px;
    font-family: 'Segoe UI';
    border-color: lightgray;
    opacity: 80%;
    border-width: thin;
    font-size: 11px;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.app-download{
    height: 4rem;
    width: 15rem;
    background-size:cover;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-top: 0px;

}

.app-download:nth-child(1){
    background-image: url('./Img/1200px-Download_on_the_App_Store_Badge.svg.png');
}
.app-download:nth-child(2){
    background-image: url('./Img/get-it-on-google-play-badge.png');

}
.divider {
	width:310px;
    text-align:center;
    height: 1px;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
    width:45%;
    position: relative;
    top: .45em;
}

.left {
    float:left;
}

.right {
	float:right;
}
.Facebook{
    margin-top: 40px;
}
.forgot{
    font-size: 12px;
    color: #385185;
}
#entrar{
    color:#385185;
    margin-top: auto;
}